.cartWidget {
    width: 28px;
    position: relative;
    margin-top: 8px;
}

.cartWidget span {
    position: absolute;
    left: 23px;
    bottom: 23px;
    background-color: red;
    color: white;
    border-radius: 100px;
    padding: 4px 6px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
}