.productCard {
    width: 200px;
    height: 340px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    gap: 13px;
    position: relative;
    box-shadow: rgb(132, 132, 132) 0 0 5px;

}

.productCardCategory {
    font-size: 13px;
    background-color: #607ec9;
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 3px 8px;
    border-radius: 5px 0 5px 0;
}

.productCardImg {
    width: 100px;
}

.productCardImg img {
    max-width: 100%;
}

.productCardDescription {
    width: 100%;
    padding: 0 3px;
    margin-bottom: 20%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.productCardDescription h3 {
    font-size: 16px;
}

.productCardDescription h4 {
    font-size: 15px;
    font-weight: normal;
}

.productCardDescription .productCardDescriptionPrice {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.productCardDescription .productCardDescriptionStock {
    font-size: 13px;
    border: solid 1px grey;
    width: 50%;
    align-self: center;
    position: absolute;
    bottom: 40px;
}

.productCardDescription .seeDetail {
    width: 100%;
    padding: 10px 0px;
    text-decoration: none;
    border-radius: 0 0 5px 5px;
    background-color: #232f3e;
    color: white;
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

@media screen and (max-width: 900px) {

}


@media screen and (max-width: 700px) {
    .productCard {
        width: 150px;
        height: 370px;
    }

    
}