* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #232f3e;
}

.navbarLogo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.navbarLogoImg {
    width: 70px;
    margin-right: 10px;
}
.navbarLogoText a {
    text-decoration: none;
}
.navbarLogoText h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.navbarLogoText h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 2px;
    color: white;
}

.navbarMenu {
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 27%;
}

.navbarMenu a, .navbarMenuMobile a {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: solid 1.5px;
    line-height: 2;
    text-decoration: none;
    font-size: 15px;
}

.navbarMenuMobile {
    display: none;
}

@media screen and (max-width:900px) {
    .navbarMenu {
        display: none;
    }

    .navbarMenuMobile {
        display: block;
        position: relative;
    }

    .navbarMenuMobileContent {
        position: absolute;
        top: 200%;
        right: 0px;
        width: 250px;
        border-radius: 5px;
        background-color: #232f3e;
        z-index: 10;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .navbarMenuMobileContent a {
        width: 90%;
    }

    .navbarMenuMobile img {
        margin-right: 5px;
    }
}

