.itemsContainer {
    width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 40px;
}

@media screen and (max-width:1001px) {
    .itemsContainer {
        width: 100%;
    }
}

@media screen and (max-width:447px) {
    .itemsContainer {
        width: 100%;
        padding: 0px;
        column-gap: 0px;
    }
}